[project]
	description = JavaEE7example
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amurif
[access "refs/for/refs/*"]
	read = group user/amurif
	push = group user/amurif
	label-Code-Review = -2..+2 group user/amurif
	label-Verified = -1..+1 group user/amurif
	rebase = group user/amurif
	removeReviewer = group user/amurif
	submit = group user/amurif
[access "refs/heads/*"]
	read = group user/amurif
	create = group user/amurif
	push = +force group user/amurif
	pushMerge = group user/amurif
[access "refs/tags/*"]
	push = +force group user/amurif
	pushTag = group user/amurif
	pushSignedTag = group user/amurif
